@use 'variables' as *;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem;
  border-top: 3px solid $light-color;
  min-width: 90%;
  width: fit-content;
  margin: 0 auto;
  margin-top: 2rem;

  a {
    color: #fff;
    text-decoration: none;
  }

  .social {
    font-size: 2rem;
  }
}
