@use 'variables' as *;
// @use 'typography' as *;

.preludium {
  // position: absolute;
  background-color: $main-color;
  color: $light-color;
  left: 0;
  width: 100%;
  height: calc(100vh);
  text-align: center;

  h2 {
    font-family: 'EBGaramond';
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-top: 0;
    padding-top: 5rem;
  }

  p {
    margin-top: 2.5rem;
  }

  span {
    margin: auto auto 2rem;
  }

  .close-info {
    // font-family: 'inter', sans-serif;
    font-size: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
  }
  
  a {
    color: $light-color;
    text-decoration: none;
  }

}

// .preludium:target {
//   display: none;
// }
