@use '../../node_modules/normalize.css/normalize';
@use '../../shared/scss/base';
// // FA
// @use '../../shared/fontawesome/scss/fontawesome';
// @use '../../shared/fontawesome/scss/brands';
// @use '../../shared/fontawesome/scss/solid';
// @use '../../shared/fontawesome/scss/regular';
// Theme specific
@use 'variables' as vars;
@use 'header';
@use 'typography';
@use 'main';
@use 'footer';
@use 'about';
@use 'landing';
@use 'mobile-menu';
@use 'technology';
// FA
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

body {
  background-color: vars.$main-color;
  color: vars.$light-color;
  overflow-y: scroll;
}

// Unreasonable and possibly stupid way of doing this.
// Trying to use Markdown, so I added a div with the row class after a list in about.
// Way less readable, but it's fun to test stuff and experiment at this stage.
nav ul,
ul:has(+ .row) {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.logo {
  display: none;
}

p {
  img{
    display: block;
    // margin: auto;
  }
}
