@use '../../node_modules/normalize.css/normalize';
@use '../../shared/scss/base';
// // FA
// @use '../../shared/fontawesome/scss/fontawesome';
// @use '../../shared/fontawesome/scss/brands';
// @use '../../shared/fontawesome/scss/solid';
// @use '../../shared/fontawesome/scss/regular';
// Theme specific
@use 'variables' as vars;
@use 'header';
@use 'typography';

// FA
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

body {
  background-color: vars.$main-color;
  color: vars.$light-color;
}

a {
  color: vars.$light-color;
  text-decoration: none;
}
