$base-font-size: 1.4rem;
$base-line-height: 1.5;
$space-m: calc($base-font-size / 2);

$font: 'Argentum', times, serif;
$base-font-weight: 300 !default;
$header-font-weight: 600 !default;

// $background: #f9eedf !default;
$background: #fbf4ea !default;
$main-text-color: #293a30 !default;
$hover-color: #ff5c5c !default;

$brighten: #ffffff10;
$darken: #00000030;

$color-2: #e56946;
$color-3: #137354;

$yellow: #fc3;
$purple: #969; 
