$base-font-size: 1.4rem;
$base-line-height: 1.5;
$space-m: $base-font-size / 2;

$font: sans-serif;

// $background: #f9eedf !default;
$background: #fbf4ea !default;
$main-text-color: #293A30 !default;

$color-2: #E56946;
$color-3: #137354;
$red: #ff5c5c;
$yellow: #fc3;
$purple: #969; 

$brighten: #ffffff80;
$darken: #00000080;
