@use 'helpers' as *;

* {
  box-sizing: border-box;
  border: 1px solid #00000050;
  border-radius: 4px;
  padding: 8px;
}

body {
  display: grid;
  // (header, footer = auto; Mmin = 1fr.) + (Min-height = full screen.) = success
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  // Justify content får grid items att ändra storlek. Använd margin: 0 auto på item istället.
  // justify-content: center;

  background-color: $background;

  background-size: 16px 16px;
  background-image:
    linear-gradient(to right, #ff00001a 1px, transparent 1px),
    linear-gradient(to bottom, #ff00001a 1px, transparent 1px);
}

nav ul {
  @include flex-center(row);
}

main,
.header,
.footer {
  margin: 0 auto;
  max-width: 64rem;
  width: 100%;
  min-width: 0;
  // @include flex-center;
}

// main > * {
//   width: auto;
//   max-width: 100%;
//   min-width: 0;
// }

a {
  display: inline-block;
  color: $main-text-color;
}

a:hover {
  border: 1px solid $hover-color; 
}

ul {
  list-style: none;
}

code {
  border: transparent;
}

::selection {
  background-color: $yellow;
}

img {
  max-width: 90%;
  display: inline-block;
  margin: 0 auto;
}

td {
  font-weight: 400;
}

.hidden {
  display: none;
}
