@use '../../node_modules/normalize.css/normalize';
@use 'helpers' as * with (
  $background: #121212,
  $main-text-color: #efece4,
  $base-font-weight: 100,
  $header-font-weight: 400,
  $hover-color:  #847272
);
@use 'base-rules';
@use 'typography';
@use 'technology';
@use 'about';
@use 'responsitivity';
@use 'footer';
@use 'gallery';
@use 'analysis';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/fontawesome';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

// Turn off background-grid
body {
  background-size: 0%;
  
}

.footer,
.main,
.header {
  background-color: $brighten;
}

.header,
.main {
  margin-bottom: $base-font-size * $base-line-height;
}

img {
  filter: brightness(0.8);
}
