@use 'helpers' as * with (
  $background: #121212,
  $main-text-color: #f5f3ef,
  $base-font-weight: 100,
  $header-font-weight: 400,
  $hover-color:  #847272
);
@use 'base-rules';
@use 'typography';
@use 'technology';
@use 'about';

// Turn off background-grid
body {
  background-size: 0%;
  
}

.footer,
.main,
.header {
  background-color: $brighten;
}

.header,
.main {
  margin-bottom: $base-font-size * $base-line-height;
}

